h1 {
    text-align: center;
}

#esterno, #interno {
    border: 2px solid black;
    margin: 0 auto;
    top: 50%;
    left: 50%;
}

#esterno {
    background-color: red;
    width: 500px;
    height: 500px;
    position: absolute;
    margin-top: -250px;
    margin-left: -250px;
}

#interno {
    background-color: blue;
    width: 200px;
    height: 200px;
    position: relative;
    margin-top: -100px;
    margin-left: -100px;
}